Add support for the Sunset header

It would be nice if MVC supported [the `Sunset` header](https://tools.ietf.org/html/draft-wilde-sunset-header-03), possibly through an attribute that you could annotate actions with.

This metadata, as well as `ObsoleteAttribute`, could then feed into something like https://github.com/json-schema-org/json-schema-spec/issues/74 and https://github.com/OAI/OpenAPI-Specification/issues/782.

I realize that you might want to hold off until things move further down the IETF process, but thought I'd file this to start a discussion.

I'm not sure an attribute would be a good way to describe this directly because attributes are static, whereas with the `Sunset` header you need a dynamic date.

But it's just a static value? OK, I agree that dates and attributes don't mesh well, but it's still a static value:

> The Sunset header contains a single timestamp which advertises the point in time when the resource is expected to become unresponsive. The Sunset value is an HTTP-date timestamp, as defined in Section 7.1.1.1 of RFC7231.

What's the benefit of us putting this in the core? You can easily do this with a result filter. Why is the world a better place we build it?

> What's the benefit of us putting this in the core?

It gets in the hands of more people, quicker. Many people probably don't even know this is something that's coming.

> Why is the world a better place we build it?

You don't have to. Put it as up for grabs and watch someone else build it :wink:

Closing this because I don't see enough reason to have a first-class feature for this at this time. It's easy for anyone to add the header to a response, as well as read it from a request. It's also easy to do so from an MVC filter. It's not clear where MVC can put in some genuine "value add" (e.g. somehow integrating it with other features).